.notesContainer {
	margin-bottom: auto;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
	height: 70dvh;
	max-width: 79dvw;
	min-width: 79dvw;
	margin-block-start: 3dvh;
	scrollbar-width: thin;
	scrollbar-color: transparent transparent;

	&::-webkit-scrollbar-track,
	&::-webkit-scrollbar-thumb {
		background: transparent;
	}

	@media only screen and (min-width: 780px) {
		& {
			max-width: 85%;
			min-width: 624px;
		}
	}

	@media only screen and (min-width: 2000px) {
		& {
			max-width: 85%;
			min-width: 940px;
		}
	}
}

.textareaNote {
	resize: none;
	background-color: transparent;
	overflow: hidden;
	color: var(--notable-white);
	width: 100%;
	height: 100%;
	opacity: 1;
	border: 0;
	outline: none;
	font-size: 1rem;
	line-height: 1.5rem;
	form-sizing: content;
	cursor: default;

	&:is(:hover, :focus, :active) {
		border: 0;
		outline: none;
	}
}
