@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--notablev1-primary-100: #1f1c2c;
	--notablev1-primary-200: #2f3441;
	--notablev1-primary-300: #35424b;
	--notablev1-primary-400: #4d5c60;
	--notablev1-primary-500: #6c727a;

	--notable-primary-50: #181818;
	--notable-primary-100: #1a1a1a;
	--notable-primary-150: #1d1d1d;
	--notable-primary-200: #2e2e2e;
	--notable-primary-300: #4d4d4d;
	--notable-primary-400: #828282;
	--notable-primary-500: #b5b5b5;
	--notable-primary-600: #d5d5d5f6;

	--notable-text-white: #fcfcfcf6;

	--notable-red-50: #e24a4a;
	--notable-red-100: #e03838;
	--notable-red-200: #df2e2e;
}

html,
:root {
	height: 100%;

	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-tap-highlight-color: transparent;
	tab-size: 4;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	font-feature-settings: normal;
	font-variation-settings: normal;
}

body {
	background: var(--notable-primary-100);
	color: var(--notable-text-white);
	font-family:
		system-ui,
		-apple-system,
		sans-serif;
	padding: 0;
	margin: 0;
	min-height: 100dvh;
	max-width: 100dvw;
	scroll-behavior: smooth;
	overflow-x: hidden;
	outline: none;
	overscroll-behavior-x: none;
	touch-action: manipulation;
}

img {
	max-width: none;
	border: 0;
	overflow-clip-margin: content-box;
	overflow: clip;
}

input[type='number'] {
	-moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
	text-wrap: balance;
}

p,
pre {
	text-wrap: pretty;
}

.float-button-rounded {
	@apply absolute right-[1%] z-10 rounded-2xl scale-[1.1] px-3 py-2 border-2 border-notable-primary-400 hover:border-notable-primary-500 w-12 flex justify-center items-center transition-all duration-300;
}

.rhap_container {
	background-color: var(--notable-primary-50) !important;
	box-shadow: none !important;

	.rhap_main-controls-button {
		color: var(--notable-primary-600) !important;
	}

	.rhap_progress-bar {
		background: var(--notable-primary-300) !important;
	}

	.rhap_progress-indicator {
		width: 12px;
		height: 12px;
		top: -4px;
		box-shadow: rgb(134 134 134 / 36%) 0 0 4px;
	}
	.rhap_progress-filled,
	.rhap_progress-indicator {
		background: var(--notable-primary-600) !important;
	}
	.rhap_time {
		color: var(--notable-text-white) !important;
	}

	&.rhap_play-status--nocontent {
		opacity: 0.6;

		.rhap_main-controls-button,
		.rhap_progress-container {
			cursor: default;
		}
	}
}

ul {
	display: flex;
	flex-direction: column;
	row-gap: 0.25rem;
	padding-inline-start: 1rem;

	& li {
		list-style-type: disc;
	}
}

.scrollbar-style {
	scrollbar-width: thin;
	scrollbar-color: rgba(255, 255, 255, 0.12) transparent;
	scrollbar-gutter: stable both-edges;

	&::-webkit-scrollbar,
	&::-webkit-scrollbar-thumb,
	&::-webkit-scrollbar-track {
		border-radius: 1.5rem;
	}
	&::-webkit-scrollbar-thumb {
		background: transparent;
	}
	&::-webkit-scrollbar-button,
	&::-webkit-scrollbar-button:single-button:vertical:decrement,
	&::-webkit-scrollbar-button:vertical:single-button:increment,
	&::-webkit-scrollbar-button:vertical:increment,
	&::-webkit-scrollbar-button:vertical:decrement {
		border-width: 0px;
		border-color: transparent;
		background: transparent;
		outline: transparent;
	}
}

.toast-round-success {
	position: relative;

	&::after {
		position: absolute;
		content: ' ';
		width: 125px;
		height: 125px;
		overflow: hidden;
		order: 3;
		flex-grow: 0;
		background: radial-gradient(50% 50% at 50% 50%, rgba(0, 237, 81, 0.12) 0%, rgba(0, 237, 123, 0) 100%);
		top: -75%;
		left: -30%;
	}

	& .go685806154 {
		position: relative;
		&::before {
			position: absolute;
			content: ' ';
			width: 130%;
			height: 130%;
			border-radius: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #303746;
		}
	}
}
