<main>
  <div class="btn-container">
    <button (click)="startNote()">Start Recording</button>
    <button (click)="saveNote()">Stop Recording</button>
    <button (click)="recordingNotes.pauseNote()">Pause Recording</button>
    <button (click)="recordingNotes.resumeNote()">Resume Recording</button>
    <button
      (click)="playLastNote(audio)"
      [disabled]="!notesService.lastNote.audio"
    >
      Reproducir Ultima Grabación
    </button>
  </div>

  <br />
  <br />
  <br />
  <audio #audio controls></audio>
  <br />
  <br />
  <br />
  <br />
  <br />

  <div class="note-area">
    <h3 class="note-title">Waiting...</h3>
    <textarea [value]="notesService.lastNote.text"></textarea>
    <div class="play-note">
      <svg
        width="22px"
        height="22px"
        viewBox="0 -960 960 960"
        fill="currentColor"
      >
        <path
          d="M320-202v-560l440 280-440 280Zm66.67-280Zm0 158.67L636-482 386.67-640.67v317.34Z"
        />
      </svg>
    </div>
  </div>
</main>
