html,
:root {
  height: 100%;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-tap-highlight-color: transparent;
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  background: var(--notable-primary-100);
  color: var(--notable-text-white);
  font-family: "Montserrat", system-ui, -apple-system, sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100dvh;
  max-width: 100dvw;
  scroll-behavior: smooth;
  overflow-x: hidden;
  outline: none;
  overscroll-behavior-x: none;
  touch-action: manipulation;
  display: flex;
  flex-direction: column;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: system-ui, -apple-system, sans-serif;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  text-wrap: balance;
}

p,
pre {
  text-wrap: pretty;
}

b,
strong {
  font-weight: bold;
}

img {
  max-width: none;
  border: 0;
  overflow-clip-margin: content-box;
  overflow: clip;
}

input[type="number"] {
  -moz-appearance: textfield;
}

body {
  --notablev1-primary-100: #1f1c2c;
  --notablev1-primary-200: #2f3441;
  --notablev1-primary-300: #35424b;
  --notablev1-primary-400: #4d5c60;
  --notablev1-primary-500: #6c727a;

  --notable-primary-100: #1a1a1a;
  --notable-primary-200: #2e2e2e;
  --notable-primary-300: #4d4d4d;
  --notable-primary-400: #828282;
  --notable-primary-500: #b5b5b5;

  --notable-text-white: #fcfcfcf6;
}
